---
export interface Props {
    img?: string;
}

const {
    img = '',
} = Astro.props;
---


<div class="w-67 h-138.75 rounded-[40px] bg-amber-500 p-1">
    <div class="relative w-full h-full p-1 rounded-[36px] bg-black">
        <div class="relative w-full h-full rounded-4xl bg-black flex justify-center overflow-hidden">

            <div class="absolute">
                <header class="flex justify-between pr-3.5 h-7.5 bg-white text-black items-center">
                    <div class="ml-4">
                        <svg width="30" height="11" viewBox="0 0 32 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.44922 0C1.85107 0 0 1.77637 0 4.2085V4.2251C0 6.49951 1.61035 8.17627 3.90967 8.17627C5.55322 8.17627 6.59912 7.33789 7.03906 6.3916H7.20508C7.20508 6.48291 7.19678 6.57422 7.19678 6.66553C7.10547 8.95654 6.30029 10.8159 4.39941 10.8159C3.34521 10.8159 2.60645 10.2681 2.29102 9.42969L2.26611 9.34668H0.157715L0.174316 9.43799C0.556152 11.2725 2.19971 12.5757 4.39941 12.5757C7.4126 12.5757 9.23047 10.1851 9.23047 6.15088V6.13428C9.23047 1.81787 7.00586 0 4.44922 0ZM4.44092 6.53271C3.07959 6.53271 2.0918 5.53662 2.0918 4.15039V4.13379C2.0918 2.79736 3.146 1.74316 4.46582 1.74316C5.79395 1.74316 6.83154 2.81396 6.83154 4.18359V4.2002C6.83154 5.55322 5.79395 6.53271 4.44092 6.53271ZM12.319 4.51562C13.0827 4.51562 13.6388 3.93457 13.6388 3.2041C13.6388 2.46533 13.0827 1.89258 12.319 1.89258C11.5637 1.89258 10.9992 2.46533 10.9992 3.2041C10.9992 3.93457 11.5637 4.51562 12.319 4.51562ZM12.319 10.6748C13.0827 10.6748 13.6388 10.1021 13.6388 9.36328C13.6388 8.62451 13.0827 8.05176 12.319 8.05176C11.5637 8.05176 10.9992 8.62451 10.9992 9.36328C10.9992 10.1021 11.5637 10.6748 12.319 10.6748ZM21.2181 12.2769H23.2684V9.97754H24.8788V8.20947H23.2684V0.298828H20.2386C18.6117 2.77246 16.91 5.52832 15.3578 8.22607V9.97754H21.2181V12.2769ZM17.35 8.25928V8.13477C18.5121 6.10107 19.8983 3.88477 21.1268 2.00879H21.2513V8.25928H17.35ZM29.1626 12.2769H31.3042V0.298828H29.1709L26.0415 2.49854V4.51562L29.0215 2.40723H29.1626V12.2769Z" fill="black"/>
                        </svg>
                    </div>

                    <div class="flex gap-0.75 items-center">
                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.23722 11C7.29663 11 8.74217 9.64686 8.74217 7.66667V7.65347C8.74217 5.83168 7.45504 4.51155 5.67947 4.51155C4.78178 4.51155 4.0425 4.89439 3.64646 5.53465H3.53425L3.79828 2.63696H8.18772V1.23762H2.47155L2.0095 6.81518H3.46824C3.58046 6.60396 3.73887 6.41914 3.91049 6.27393C4.26032 5.9571 4.72237 5.79868 5.25702 5.79868C6.34613 5.79868 7.12501 6.57756 7.12501 7.68647V7.69967C7.12501 8.82178 6.35933 9.60726 5.24382 9.60726C4.26692 9.60726 3.54745 8.9868 3.42204 8.20792L3.41544 8.16172H1.84448L1.85108 8.24753C1.9765 9.81188 3.29003 11 5.23722 11Z" fill="black"/>
                            <path d="M13.9905 11C16.5317 11 18.1555 9.42244 18.1555 6.9604V5.77228H14.2017V7.07261H16.4855L16.4789 7.27063C16.4591 8.62376 15.469 9.52805 14.0169 9.52805C12.3205 9.52805 11.2512 8.17492 11.2512 5.9901V5.9769C11.2512 3.82508 12.3007 2.47195 13.9641 2.47195C15.1852 2.47195 16.0565 3.07921 16.3667 4.12211L16.3865 4.18812H18.0763L18.0697 4.12211C17.7463 2.26073 16.1621 1 13.9641 1C11.2512 1 9.51524 2.94719 9.51524 5.9901V6.0033C9.51524 9.07921 11.2314 11 13.9905 11Z" fill="black"/>
                        </svg>

                        <svg width="28" height="14" viewBox="0 0 28 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="2" y="2.5" width="21" height="9" rx="1.33" fill="black"/>
                            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.5H19.4C20.3966 1.5 21.0839 1.50078 21.6174 1.54436C22.1392 1.587 22.4251 1.66555 22.635 1.77248C23.1054 2.01217 23.4878 2.39462 23.7275 2.86502C23.8345 3.0749 23.913 3.36085 23.9556 3.88264C23.9992 4.4161 24 5.10341 24 6.1V7.9C24 8.89659 23.9992 9.5839 23.9556 10.1174C23.913 10.6392 23.8345 10.9251 23.7275 11.135C23.4878 11.6054 23.1054 11.9878 22.635 12.2275C22.4251 12.3345 22.1392 12.413 21.6174 12.4556C21.0839 12.4992 20.3966 12.5 19.4 12.5H5.6C4.60341 12.5 3.9161 12.4992 3.38264 12.4556C2.86085 12.413 2.5749 12.3345 2.36502 12.2275C1.89462 11.9878 1.51217 11.6054 1.27248 11.135C1.16555 10.9251 1.087 10.6392 1.04436 10.1174C1.00078 9.5839 1 8.89659 1 7.9V6.1C1 5.10341 1.00078 4.4161 1.04436 3.88264C1.087 3.36085 1.16555 3.0749 1.27248 2.86502C1.51217 2.39462 1.89462 2.01217 2.36502 1.77248C2.5749 1.66555 2.86085 1.587 3.38264 1.54436C3.9161 1.50078 4.60341 1.5 5.6 1.5ZM0 6.1C0 4.13982 0 3.15972 0.381477 2.41103C0.717034 1.75247 1.25247 1.21703 1.91103 0.881477C2.65972 0.5 3.63982 0.5 5.6 0.5H19.4C21.3602 0.5 22.3403 0.5 23.089 0.881477C23.7475 1.21703 24.283 1.75247 24.6185 2.41103C25 3.15972 25 4.13982 25 6.1V7.9C25 9.86018 25 10.8403 24.6185 11.589C24.283 12.2475 23.7475 12.783 23.089 13.1185C22.3403 13.5 21.3602 13.5 19.4 13.5H5.6C3.63982 13.5 2.65972 13.5 1.91103 13.1185C1.25247 12.783 0.717034 12.2475 0.381477 11.589C0 10.8403 0 9.86018 0 7.9V6.1ZM26 9C26.8284 8.8 27.5 8.10457 27.5 7C27.5 5.89543 26.8284 5.2 26 5L26 7L26 9Z" fill="black"/>
                        </svg>
                    </div>
                </header>



                <img src={img} alt="">
            </div>
            
            
            <div class="h-5.5 w-19.75 bg-black mt-1 rounded-full z-2">
                
            </div>
        </div>
    </div>
</div>