@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f3d15851; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f3d1587c; 
}
