<section>
    <div class="info-container">

        <div class="left-info">
            <p>I'm</p>
            <p>Anthoni Castillo</p>
            <div></div>
            <p>Desarrollador de software con enfoque en C# e interfaces Frontend. Construyo herramientas que integran una lógica robusta en el sistema con experiencias web y móviles modernas.</p>
        </div>

        <div class="circle">
            <img class="hero-img" width="600px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5b8d2b12-21e8-4931-8a6d-fb9ecdd60383/dc5rmwg-2249ecd6-106c-4a27-9198-f640dfc658cf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi81YjhkMmIxMi0yMWU4LTQ5MzEtOGE2ZC1mYjllY2RkNjAzODMvZGM1cm13Zy0yMjQ5ZWNkNi0xMDZjLTRhMjctOTE5OC1mNjQwZGZjNjU4Y2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.D3R9Xvzu-lBE_xhPZz7H4rFeeOPcU9s0XZFoLt4wPLA" alt="">
        </div>
        <div class="photo"><img class="hero-img"  width="600px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5b8d2b12-21e8-4931-8a6d-fb9ecdd60383/dc5rmwg-2249ecd6-106c-4a27-9198-f640dfc658cf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi81YjhkMmIxMi0yMWU4LTQ5MzEtOGE2ZC1mYjllY2RkNjAzODMvZGM1cm13Zy0yMjQ5ZWNkNi0xMDZjLTRhMjctOTE5OC1mNjQwZGZjNjU4Y2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.D3R9Xvzu-lBE_xhPZz7H4rFeeOPcU9s0XZFoLt4wPLA" alt=""></div>

        <div class="right-info">
            <p>Services</p>
            <p class="info-text">Diseño y desarrollo de aplicaciones que viven en cualquier entorno. Desde software de escritorio complejo hasta interfaces web intuitivas, asegurando que cada herramienta sea visualmente atractiva y funcional.</p>
            <a href="">Show More<i class="ri-arrow-right-long-line"></i></a>

            <div class="social-btn">
                <button><i class="ri-facebook-fill"></i></button>
                <button><i class="ri-instagram-line"></i></button>
                <button><i class="ri-pinterest-fill"></i></button>
            </div>
        </div>
    </div>


</section>


<style>

    :root {
        --font: Montserrat;
        --p-text-color: #262626;
        --s-text-color: #a1a1a1;
        --c-text-color: #FF451A;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    section{
        height: 75%;
        width: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    section .circle {
        position: absolute;
        background-color: var(--c-text-color);
        width: 512px;
        height: 512px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -15%);

        border-radius: 50%;
        pointer-events: none;
        z-index: -1;
    }

    .circle img {
        visibility: collapse;
    }

    section .photo
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-55%, -20%);
        z-index: 0;
    }

    .hero-img {
        width: 600px;
        max-width: 100%;
    }


    .info-container {
        display: grid;
        grid-template-columns: 65% 35%;
        padding: 80px 80px;
    }

    .info-container .left-info {
        z-index: 0;
    }

    .info-container .left-info p{
        font-family: var(--font);
        font-size: 54px;
        font-weight: 300;
        color: var(--s-text-color);
    }   
    
    .info-container .left-info p + p{
        font-family: var(--font);
        font-size: 54px;
        font-weight: 700;
        color: var(--p-text-color);   
    }    

    .info-container .left-info div{
        height: 4px;
        width: 100px;
        background-color: var(--c-text-color);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .info-container .left-info p + p + div + p{
        font-family: var(--font);
        font-size: 18px;
        font-weight: 400;
        color: var(--s-text-color);
        max-width: 250px;
    } 

    .info-container .right-info{
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .info-container .right-info p{
        font-family: var(--font);
        font-size: 18px;
        font-weight: 500;
        text-align: end;
        color: var(--s-text-color);
    }   
    
    .info-container .right-info p + p{
        font-family: var(--font);
        font-size: 18px;
        font-weight: 600;
        color: var(--p-text-color);
    }   

    .info-container .right-info p + p + a{
        font-family: var(--font);
        font-size: 12px;
        text-decoration: none;
        font-weight: 400;
        color: var(--c-text-color);
    }   

    .social-btn {
        display: flex;
        gap: 15px;
        margin-top: 15px;
    }

    .info-container .right-info p + p + a + div > button{
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        gap: 110px;

        font-family: var(--font);
        font-size: 22px;
        padding: 0px;
        margin: 0px;
        background-color: #262626;
        border: 0px;
        border-radius: 50%;
        
        text-decoration: none;
        font-weight: 400;
        color: var(--c-text-color);
    }  

    @media (max-width: 600px) { /* Para pantallas con un ancho máximo de 600px (móviles) */
        
        .info-container{
            grid-template-columns: 100%;
            padding: 40px 20px;
        }

        .info-container .left-info p {
            font-size: 36px;
        }
        .info-container .left-info p + p {
            font-size: 42px;
        }

        .info-container .right-info
        {
            margin-top: 20px;
        }

        section {
            height: auto;
            margin-bottom: 50px;
        }

        section .circle {
            overflow: hidden;
            position: relative;
            background-color: var(--c-text-color);
            width: 300px;
            height: 300px;
            max-width: 80vw;
            max-height: 80vw;
            left: 50%;
            top: 0;
            transform: translate(-57%, 0);
            border-radius: 50%;
            pointer-events: none;
            z-index: -1;
            margin: 40px auto;
        }

        .circle img
        {
            width: 100%;
            height: auto;
            position: absolute;
            visibility: visible;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -20%);
        }




    

        section .photo
        {
            display: none;
        }

        .info-text {
            max-width: 100%;
        }    
    }



</style>