<header class="main-header">
    <div class="mastil">
        <h1><i class="ri-terminal-box-fill"></i>AnthoniDev</h1>
    </div>

    <nav class="header-nav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Projectos</a></li>
            <li><a href="#">Recursos</a></li>
            <li><a href="#">Sobre mi</a></li>
        </ul>
    </nav>

    <div class="header-buttons">
        <button class="menu-btn"><i class="ri-menu-2-line"></i></button>



        
        <a href="https://github.com/AnthonyDev65" target="_blank">
            <button><i class="ri-github-fill"></i></button>
        </a>

        <a href="https://www.linkedin.com/in/antony-castillo-907a903a1" target="_blank">
            <button><i class="ri-linkedin-box-fill"></i></button>
        </a>
        


    </div>

</header>

<style>

    :root {
    --p-text-color: white;
    --s-text-color: #a1a1a1;
    --c-text-color: #FDC62E;
    --b-text-color: #929191;
    --font: Montserrat;
    --bg: #373543;
    
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        background-color: var(--bg);

    }

    .main-header{
        display: flex;
        align-items: center;
        padding: 20px 40px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .mastil h1{
        font-family: var(--font);
        color: var(--p-text-color);
        font-size: 22px;
        font-weight: 500;   
        user-select: none;
    }

    .ri-terminal-box-fill {
        color: var(--c-text-color);
        margin-right: 4px;    
    }

    .header-nav{
        display: flex;
        margin-right: auto;
        margin-left: 100px;
    }

    .header-nav ul{
        display: flex;
        list-style: none;
        gap: 30px;
        font-family: var(--font);
    }

    .header-nav ul li a {
        text-decoration: none;
        color: var(--b-text-color);
        transition: all .2s ease;
    }

    .header-nav ul li a:hover {        
        color: var(--p-text-color);
    }

    .header-buttons {
        display: flex;
        gap: 15px;
        justify-content: end;
    }

    .header-buttons button {
        background-color: transparent;
        border: 0px;
        transition: all .2s ease;
    }

    .header-buttons button:hover {
        opacity: .7;

    }



    .header-buttons i {
        color: white;
        font-size: 22px;
    }


    @media (max-width: 600px) { /* Para pantallas con un ancho máximo de 600px (móviles) */
        .header-nav {
            visibility: collapse;
        }
        .header-buttons button + button + button {
            visibility: visible;
        }

    }

    @media (min-width: 600px) {
        .header-nav {
            visibility: visible;
        }
        .menu-btn   {
            visibility: collapse;
        }

    }



</style>


