---
import Badge from './UI/badge.astro'

const social = [
    {
        page : 'Github',
        link : 'https://github.com/AnthonyDev65',
        icon : 'ri-github-fill'
    },

    {
        page : 'LinkedIn',
        link : 'https://www.linkedin.com/in/anthoni-castillo-moncion-907a903a1/',
        icon : 'ri-linkedin-box-fill'
    },

    {
        page : 'Email',
        link : 'mailto:castilloantony709@gmail.com',
        icon : 'ri-at-line'
    },
]



---



<section class="w-full grid auto-rows-[172px] grid-cols-6 gap-4 mt-8">

    <div class="row-span-2 col-span-6 rounded-3xl bg-[#1C1E23] relative flex overflow-hidden    gap-10 dark:bg-raisin-black xl:col-span-4 lg:items-end sm:flex-row">
        <img 
        class="lg:absolute lg:object-cover lg:object-center" 
        src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg" alt="Anthoni Castillo">

        <div class="absolute flex flex-col justify-end z-1 w-full h-full border-5 rounded-3xl  border-amber-400 p-5" style="font-family: outfit;">
            
            <h1 class="text-3xl font-bold text-white">Anthoni Castillo</h1>
            <p class="text-lg font-medium leading-9 opacity-70 text-white">Desarrollador Front-End</p>
            
            <div class="flex flex-wrap items-center mt-1 gap-2 lg:gap-3">
                {social.map(sc => 
                    <a class="flex items-center font-medium bg-moonlit rounded-lg text-dusky gap-2 active:scale-[1.1] transition-transform duration-300" target="_blank" href={sc.link}>
                        <div class="bg-white flex gap-2 py-1 px-3 rounded-lg" >
                            <i class={`${sc.icon} w-[1em] h-[1em]`}></i>
                            <span class="lg:flex">{sc.page}</span>
                        </div>
                    </a>
                )}
            </div>
            
        </div>
    </div>
    
    <div style="font-family: Outfit;" class="text-white row-span-1 col-span-6 rounded-3xl bg-[#1C1E23] relative flex flex-col overflow-hidden border-2 border-transparent gap-2 p-7 dark:bg-raisin-black xl:col-span-2 lg:p-7">
        <h2 class="text-2xl font-bold z-1">Sobre mi</h2>
        <p class="text-base w-full z-1 opacity-70">
            Desarrollador web con experiencia en diseño, desarrollo y mantenimiento de aplicaciones web front-end.
        </p>
    </div>

    <div style="font-family: outfit;" class="row-span-1 col-span-3 rounded-3xl bg-[#1C1E23] relative flex flex-col overflow-hidden border-2 border-transparent gap-2 items-center justify-center dark:bg-raisin-black xl:col-span-1">
        <p class="text-7xl z-1 font-bold flex items-center gap-1 text-amber-300">
            <span>+</span>
            <span>3</span>
        </p>

        <p class="text-sm font-semibold max-w-fit opacity-70 z-1 text-white">Años de Experiencia</p>

        <svg class="w-full h-full absolute -right-10 -bottom-12 opacity-5 dark:opacity-[0.02] p-5 z-0" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="w-full h-full absolute -right-10 -bottom-12 opacity-5 dark:opacity-[0.02] p-5 z-0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M14.06 9.94 12 9l2.06-.94L15 6l.94 2.06L18 9l-2.06.94L15 12l-.94-2.06zM4 14l.94-2.06L7 11l-2.06-.94L4 8l-.94 2.06L1 11l2.06.94L4 14zm4.5-5 1.09-2.41L12 5.5 9.59 4.41 8.5 2 7.41 4.41 5 5.5l2.41 1.09L8.5 9zm-4 11.5 6-6.01 4 4L23 8.93l-1.41-1.41-7.09 7.97-4-4L3 19l1.5 1.5z"></path></svg>

    </div>

    <div class="row-span-1 col-span-3 rounded-3xl bg-[#1C1E23] dark:bg-raisin-black overflow-hidden border-2 border-transparent xl:col-span-1 flex items-center justify-center relative">
        <img src="" alt="">
    </div>

</section>