---
import Card from '../Version 2/UI/ProjectsCard.astro'
---


<header class="w-full flex flex-col gap-2 text-center" style="font-family: outfit; color:white;">

    <h1 class="text-3xl font-semibold" style="opacity: 1; transform: none;">Projects</h1>
    <p class="opacity-70" style="opacity: 1; transform: none;" >
        Here are some projects I've worked on in the past few years.
    </p>

</header>
<section>
    <Card/> 

</section>